<div class="form-section">
	<div class="mat-display-1 mb-1">Passenger 1</div>
	<form>
		<mat-form-field appearance="outline">
			<mat-label>Title*</mat-label>
			<mat-select>
				<mat-option>
					Mr
				</mat-option>
			</mat-select>
		</mat-form-field>
		<mat-form-field appearance="outline">
			<mat-label>First Name*</mat-label>
			<input matInput>
  </mat-form-field>
			<mat-form-field appearance="outline">
				<mat-label>Last Name*</mat-label>
				<input matInput>
  </mat-form-field>
				<mat-form-field appearance="outline">
					<mat-label>Email Address*</mat-label>
					<input matInput>
  </mat-form-field>
	</form>
</div>
<div class="form-section">
	<div class="mat-display-1 mb-1">Passenger 2 </div>
	<form>
		<mat-form-field appearance="outline">
			<mat-label>Title*</mat-label>
			<mat-select>
				<mat-option>
					Mr
				</mat-option>
			</mat-select>
		</mat-form-field>
		<mat-form-field appearance="outline">
			<mat-label>First Name*</mat-label>
			<input matInput>
  </mat-form-field>
			<mat-form-field appearance="outline">
				<mat-label>Last Name*</mat-label>
				<input matInput>
  </mat-form-field>
				<mat-form-field appearance="outline">
					<mat-label>Email Address*</mat-label>
					<input matInput>
  </mat-form-field>
	</form>
</div>

<div class="form-section">
	<div class="mat-display-1 mb-1">Payment Details</div>

</div>