:host() {
  width:100%;
  display:block;
      padding: 2rem 1rem 2rem 1rem;


.promo {
  display:inline-flex!important;
align-items:center;
align-content:center;
height:100%;
padding:1rem;
position:relative;

&:first-child {
  padding-left:0;
}

.tile {
  min-width:300px;
  max-width:400px;
  padding:.5rem;
  min-height: 32px;
  border-radius:.5rem;
  background:#fff;
  overflow:hidden;
display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    align-content: start;

  &.active {
     background: var(--primary-color);
    overflow:hidden;
      transition: all .4s cubic-bezier(.25,.8,.25,1);

span,i,div {
:not(button) {
color:#fff!important;
}

&.mat-title {
  color:#fff!important;
}
}
  }

.promo-description {
  white-space:normal;
}

&.active {
.promo-description {
color:#fff!important;
}
}


}
}





}
